.techfont{
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.bigbrand{
  font-size: 1.5em;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.postdate{
  text-align: center;
}

.posttitle{
  font-family: 'Lato', sans-serif;
  font-size: 3em;
}

.postcontent{
  font-family: 'Montserrat';
  font-size: 1.5em;
}

.btn-comment{
  position: absolute;
  right: 0px;
}


/*OVO DOLE JE PREUZETO ZA LOADING*/
/*AKO NE BUDE RADILO ZAMENI KOD ISPOD ZA NEKI NOVI*/
