{%extends 'blog/base.html'%}



{%block content%}
  <h1>About me:</h1>
  <p>Hello, my name is Aleksa. I'm 27 and I'm mechanical engineer in love with programming. I started to learn Python 2 years ago
    and really liked it. Two months ago, I was interested to start learning something about its popular frameworks
    and here I am. This is my first blog application and I'm somehow proud of myself.

  </p>
  <br>
  <p>On link in navigation bar you can find my github so you are free to check it out if you want to know something more about my coding skills. Currently, beside Python, I'm interested in Java, Android programming and I plan to start learning Spring framework.</p>
  <img src="https://thumb1.shutterstock.com/display_pic_with_logo/3558395/536274763/stock-vector-female-and-male-hands-holding-and-clinking-with-two-glasses-beer-cheers-toast-lettering-vintage-536274763.jpg" alt="Sorry no image somehow, link lost">

{%endblock%}
